@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

img {
  width: 200px;
  height: 400px;
  object-fit: cover;
}

.home-page {
  height: 100vh;
}

.navDark {
  background: rgba(49, 48, 49, 0.6);
}

.nav-link {
  color: #ebeae8 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #f8cff5 !important;
}

.subComponent {
  padding: 50px 0px;
}

.subComponent-lg {
  padding: 80px 0px;
}

#home {
  background: url("./img/Home.webp") center center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

#home h1 {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: white;
}

#packageBody {
  background-color: rgb(235, 231, 231);
}
.wrapped-page {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rbga(0, 0, 0, 0.3);
}

.item-start {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.img-carousel {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.carousel-caption {
  height: 50%;
}

.carousel-caption h3 {
  font-size: 5em;
  font-weight: 600;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.carousel-caption p {
  font-size: 2em;
  color: rgb(2, 2, 2);
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.card {
  margin: 10px 10px;
}

@media (min-width: 284px) {
  .card-columns {
    margin: 0px 20px;
  }

  .tour-msg {
    margin: 0px 10px;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }

  .tour-msg {
    margin: 0px 20px;
  }
}

@media (min-width: 986px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }

  .tour-msg {
    margin: 0px 50px;
  }
}

.packageBody .badge {
  margin: 0px 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.tour-cover {
  width: 90%;
  padding: 20px 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
}

.tour-cover img {
  width: 100%;
}

.tour-gallery img {
  width: 50%;
  height: 100px;
  object-fit: cover;
  padding: 5px;
}

.tour-msg input,
.tour-msg textarea {
  width: 100%;
  margin: 5px;
  border: 1px solid #6c757d;
  padding: 10px;
  border-radius: 5px;
  background: none;
}

.msg input,
.msg textarea {
  width: 100%;
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

.msg .btn {
  margin: 5px;
}

.reviews {
  background: #f1f1f1;
  padding: 40px 0px 80px 0px;
  margin: 0px;
}

#introductionBody {
  background: #f1f1f1;
  color: #2b2b2b;
}

.svg-group p {
  margin: 15px 0px;
}

.svg-card {
  background: rgba(0, 0, 0, 0.1);
  color: #2b2b2b;
  padding: 30px;
  margin: 10px;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.svg-card:hover {
  border-radius: 50%;
}

.wrapped-services {
  background: url("./img/jeju1.jpg") center center;
  background-size: cover;
  background-attachment: fixed;
}

#serviceBody {
  background: rgba(0, 0, 0, 0.7);
}

#contactBody {
  background: #745777;
  color: rgba(0, 0, 0, 0.7);
}


.svg-card-2 {
  color: #ffffff;
  padding: 30px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.svg-card-2:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  background: rgba(255, 255, 255, 0.3);
}

.svg-card-3 {
  padding: 30px;
  margin: 10px;
  color: rgba(255, 255, 255, 0.7);

}
.headerTitle p {
  color: rgba(0, 0, 0, 0.5);
}

* {
  transition-duration: 0.3s;
}

#home {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
